<%= form_for @program do |f| %>
  <div class="form-control">
    <%= f.label 'Название' %>
    <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label "Выбор упражнения:" %><br>
    <%= f.collection_select :ex_ids, Ex.limit(50).order(:name), :id, :name, { include_black: true }, { multiple: true } %>
  </div>

  <div class="form-control">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>