<h1><%= @program.name %> </h1>
<% @programex.each do |i| %>
  <h2><%= i %></h2>
<% end %>
<select name="cars" multiple>
  <% @ex.each do |i| %>
    <option value=<%=i.name%>><%=i.name%></option>
  <% end %>
</select>
<%= link_to 'Изменить', edit_program_path(@program)%>
<%= link_to 'Удалить', program_path(@program), method: :delete, data: { confirm: 'Вы уверины?'}%>

