
<%= form_for @ex do |f| %>
  <div class="form-control">
    <%= f.label 'Название' %>
    <%= f.text_field :name %>
  </div>
  <div class="form-control">
    <%= f.label 'Описание' %>
    <%= f.text_area :description %>
  </div>
  <div class="form-control">
    <%= f.label 'Количество' %>
    <%= f.text_field :count %>
  </div>
  <div class="form-control">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>