<h1>Упражнения</h1>
<%= link_to 'Новое упражнение', new_ex_path%>
<%= render @ex %>
<%= paginate @ex %>
<%# <%= page_entries_info @ex %>
<%# <%= session[:user_id].inspect %>
<%# <%= current_user.inspect %>
<%# <%= current_user?.inspect %>
<%# <%= current_user&.email %>
<%# <%= current_user&.name %>
