<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if current_user%>

      <%= link_to 'Тренировки', trainings_path %>
      <%= link_to 'Программы тренировок', programs_path %>
      <%= link_to 'Все упражнения', exes_path %>
      <%= link_to 'История'%>
      Logges in as <%= current_user.email%>
    <%else%>
      <%= link_to "Log_In", login_path%>
    <%end%>

    <%= yield %>
  </body>
</html>
