<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= link_to 'Тренировки', trainings_path %>
    <%= link_to 'Программы тренировок', programs_path %>
    <%= link_to 'Все упражнения', exes_path %>

    <% if current_user? %>
      <%# link_to 'История'%>
      Вы вошли как <%= current_user.name %>
      <%= link_to "Выход", logout_path%>
    <% else %>
      <%= link_to "Вход", login_path%>
    <% end %>

    <%= yield %>
  </body>
</html>
